[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
json5 = "*"
case-converter = "*"
"ruamel.yaml" = "*"

[dev-packages]

[requires]
python_version = "3.11"
